<%= nested_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :from_date, t(:from) %><br />
    <%= f.date_select :from_date %>
  </div>
  <div class="field">
    <%= f.time_select :from_time, { minute_step: 5, ampm: true } %>
  </div>
  <div class="field">
    <%= f.label :to_date, t(:to) %><br />
    <%= f.date_select :to_date %>
  </div>
  <div class="field">
    <%= f.time_select :to_time, { minute_step: 5, ampm: true } %>
  </div>
  <div class="field">
    <%= f.check_box :full_day %>
    <%= f.label :full_day, t(:full_day) %>
  </div>
  <div class="field">
    <%= f.label :description, t(:description) %><br />
    <%= f.text_area :description %>
  </div>

  <h2>Reminders</h2>

  <%= f.fields_for :reminders do |reminder_form| %>
    <%= reminder_form.select :minutes_before, Adjourn::Reminder::OPTIONS %>
    <%= reminder_form.link_to_remove t(:remove_resource, name: t(:reminder)) %>
  <% end %>
  <%= f.link_to_add t(:add_resource, name: t(:reminder)), :reminders %>
  
  <div class="actions">
    <%= f.submit t(:save_resource, name: t(:event)) %>
  </div>
<% end %>
