<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>From date:</b>
  <%= @event.from_date %>
</p>

<p>
  <b>To date:</b>
  <%= @event.to_date %>
</p>

<p>
  <b>From time:</b>
  <%= @event.from_time %>
</p>

<p>
  <b>To time:</b>
  <%= @event.to_time %>
</p>

<p>
  <b>Full day:</b>
  <%= @event.full_day %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>User:</b>
  <%= @event.user %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
